layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane edit="." // Opens Helix in current dir
        pane {
            pane name="REPL" command="ghci" // Change to 'iex' or 'clojure' as needed
            pane name="Terminal"
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
